{{!-- ABOUT Page Template --}}
{{!< default}}

<main class="site-main">

    <div class="site-content">
        {{{body}}}
    </div>
    
    {{#if @custom.show_featured_posts}}
            {{> "featured-posts"}}
    {{/if}}

</main>