{{!< default}}
<main class="site-main">

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_featured_posts}}
            {{> "featured-posts"}}
    {{/if}}

</main>