{{!< default}}
<main class="site-main">

    {{#page}}
        <h1>{{title}}</h1>
        <div>{{content}}</div>
    {{/page}}

    {{#if @custom.show_featured_posts}}
            {{> "featured-posts"}}
    {{/if}}

</main>