{{!-- ABOUT Page Template --}}
{{!< default}}

<main class="site-main">

    {{#page}}
        <h1>{{title}}</h1>
        <div>{{content}}</div>
    {{/page}}

    {{#post}}
                {{!-- {{> "content" width="wide"}} --}}
                {{content}}
            {{/post}}

    {{#if @custom.show_featured_posts}}
            {{> "featured-posts"}}
    {{/if}}

</main>