{{!< default}}
<main class="site-main">

    {{#page}}
        <h1>{{title}}</h1>
        {{content}}>
    {{/page}}

    {{#post}}
        {{> "content" width="wide"}}
    {{/post}}

    {{#if @custom.show_featured_posts}}
            {{> "featured-posts"}}
    {{/if}}

</main>